
  <main role="main" class="" (window:resize)="onResize($event)" (window:load)="onResize($event)" *ngIf="tiles">
    <div class="masonry">
        <div class="masonry-brick" *ngFor="let element of tiles">
            <div class="masonry-content">
              <a link="" style="text-decoration: none;">
                <div [attr.id]="'element' + element.id" class="card box">
                  <img class="card-img-top photothumb" *ngIf="element.src != ''" src="{{ element.src }}" alt="{{ element.id }}">
                </div>
              </a>
            </div>
        </div>
    </div>
  </main>
